button{
  padding: 8px;
}
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.day{
  background-color: lightgray;
}

.night{
  background-color: darkgray;
}
